/*
* @Author: anchen
* @Date:   2016-12-02 16:48:16
* @Last Modified by:   anchen
* @Last Modified time: 2016-12-13 11:42:33
*/
    .header {
        height: .88rem;
        line-height: .88rem;
        font-size: 18px;
        position: relative;
        margin-bottom: 0.2rem;
    }
    .header img{
        width: .36rem;
        position: absolute;
        right: 0.3rem;
       top: 0.26rem;
    }
    .wrap{
      height: 100%;
    }
    .search_his .liBox{
      margin: 0;
      border-bottom: 1px solid #ddd;
    }
    .liBox{
        padding: 0.2rem 0.3rem;
    }
    .ContentBox dt img{
        width: 1rem;
        vertical-align: top;
        border-radius: 4px;
    }
    .ContentBox dd{
        padding-left: 1.2rem;
    }
    .posi{
        position: relative;
    }
    .liBox{
        margin-bottom: 0.1rem;
    }
    .liBox .name{
        line-height: 14px;
    }
    .liBox .name span{
        padding-right: 0.15rem;
        border-right: 1px solid #ddd;
        font-size: 12px;
    }
    .liBox .name i{
        padding-left: 0.15rem;
        color: #6c6c6c;
         font-size: 11px;
    }
    .liBox .come,
    .liBox .detail{
         font-size: 11px;
    }
    .liBox .help{
        position: absolute;
        text-align: center;
        top: 0.25rem;
        width: 1.2rem;
        padding-left: 0;
        height: 0.5rem;
        line-height: 0.5rem;
        right: 0;
        border-radius: 2px;
    }
    .liBox .helpM{
        position: absolute;
            text-align: center;
            top: 0.25rem;
            width: 0.4rem;
            height: 0.4rem;
            padding-left: 0;
            height: 0.4rem;
            border-radius: 50%;
            line-height: 0.4rem;
            right: 0;
            background-color: #f44336;
            color: #fff;
    }
    .liBox .detail{
        position: absolute;
        bottom: -6px;
         color: #6c6c6c;
    }
     .liBox .detail span{
        padding-left: 20px;
        display: inline-block;
     }
    .liBox .detail span:first-child{
        background: url(../images/comment.png) no-repeat left center;
        background-size: 15px;
    }
    .liBox .detail span:last-child{
        background: url(../images/commend.png) no-repeat left center;
        background-size: 15px;
        margin-left: 0.3rem;
    }
    .liBox .come{
        position: absolute;
        top: 49%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
        .ConsultantCon{
            background: url('../images/pH.png') no-repeat left center;
            background-size: 25px;
            padding-left: 32px;
            height: 0.6rem;
            height: 0.6rem;
            line-height: 0.54rem;
            margin-top: 0.2rem;
            border-top: 1px solid #ddd;
        }
        html,body{
          height: 100%;}
          .find-dor-top {
              position: relative;
              padding:0.3rem;
              background-color: #00c853;
              margin-bottom: 0.2rem;
            }
            .find-dor-top .search-border {
                position: relative;
                border: #dcdcdc 1px solid;
                padding: 0 0 0 10px;
                height: 28px;
                background-color: #fff;
                margin-right: 55px;
                border-radius: 4px;}
                .searchBox .find-dor-top .search-border input {
                    border: 0 none;
                    color: #000000;
                    font-size: 12px;
                    width: 100%;
                    height: 14px;
                    padding: 6px 0;}
                .find-dor-top .search-find-btn {
                    position: absolute;
                    right: 0.3rem;
                    top: 0.3rem;
                    width: 55px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 15px;
                    color: #fff;
                }
                  input[type=search]::-webkit-input-placeholder{
                      color: blue;
                  }
                  input[type=search]::-webkit-search-cancel-button{
                      -webkit-appearance: none;
                   display: inline-block;
                      position: relative;
                      height: 20px;
                      width: 20px;
                      border-radius: 50%;
                     background: url(../images/fand_dis_logo_clearbtn.png) no-repeat center center;
                    background-size: 16px 16px;
                  }
                  .search_his .search_yx {
                      padding-left: 0.3rem;
                      color: #000000;
                      border-bottom: 0 none;}
                      .search_his .search_yx span {
                          display: block;
                          color: #afafaf;
                          font-size: 13px;
                          border-bottom: #dcdcdc solid 1px;
                          padding-left: 10px;
                      }
                      .searchBox{
                        background-color: #fff;
                        height: 100%;
                        z-index: 99;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 7.5rem;
                        display: none;
                      }
        }