
  .header{
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 18px;
  }
  .detail-info{
    margin-top: 0.12rem;
  }
  .detail-info li{
    padding: 0 0.32rem;
    background:#fff;
    margin-bottom: 1px;
    height: 0.88rem;
    line-height: 0.88rem;
  }
  .Result span{
display: inline-block;
width: 25%;
  }
    .Result span:last-child{
  text-align: right;
    }
  .detail-info  .marginBottom{
margin-bottom: 0.1rem;
    }