<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
       <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <script src="js/resizeRem.js"></script>
        <script src="js/jquery-3.1.1.js"></script>
        <link rel="stylesheet" href="css/resetClass.css" />
        <link rel="stylesheet" href="css/common.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <title>关于我们</title>
    </head>
    <body ng-app="myApp" >
     <div class="main" ng-controller="myCtrl">
     <button ng-click="togglePage('first')" ng-bind="'商品详情'"></button>
     <button ng-click="togglePage('second')" ng-bind="'用户评论'"></button>
     <button ng-click="togglePage('third')" ng-bind="'第三个页面'"></button>
     <div ng-show="Pages.first" ng-bind="'详情展示'"></div>
     <div ng-show="Pages.second" ng-bind="'评论展示'"></div>
    <div ng-show="Pages.third" ng-bind="'第三个页面展示'"></div>

    </div>
    <script>
      var app=angular.module('myApp',[])
      app.controller('myCtrl',function($scope){
        //页面中有三个页面了，因此通过设置变量
        $scope.Pages={
            first:true,
            second:false,
            third:false
        };
        // 增加交互事件
 $scope.togglePage=function(watchPage){
        for(var i in $scope.Pages){
            $scope.Pages[i]=false;
        }
        $scope.Pages[watchPage]=true;
      }
      })

    </script>
    </body>
</html>